<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
			
	<!-- 在web环境下,建议一定要手动配置 -->
	<!--注解标签-->
	<context:annotation-config />
	<!--扫描器-->
    <context:component-scan base-package="com.gxa.cdut"/>

	<!--2：加载外部资源-->
	<context:property-placeholder location="classpath:jdbc.properties,classpath:sms.properties,classpath:mail.properties"/>

	<!--数据源的配置-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--反射机制-->
		<property name="dataSource" ref="dataSource"/>
		<!--可选项 数据库 特殊要求-->
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<!-- domain的位置 -->
		<property name="typeAliasesPackage" value="com.gxa.cdut"/>
		<!--mapper映射-->
		<property name="mapperLocations" value="classpath:com/gxa/cdut/mapper/*Mapper.xml"/>
	</bean>

	<!-- Spring事物管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- 声明事物的方式 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="list*" read-only="true"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<!-- 通过配置AOP通知，将service中对应方法纳入Spring事物管理 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.gxa.cdut.service.*Service.*(..))" id="pointCut"/>
		<aop:advisor advice-ref="advice" pointcut-ref="pointCut"/>
	</aop:config>

	<!--向spring声明mapper的位置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gxa.cdut.mapper" />
    </bean>





</beans>
